* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-white: #fff;
}
body {
  background: #bdc3c7;
}
header, footer {
  background: #2c3e50;
}
.container {
  background: #e74c3c;
  max-width: 1000px;
  width: 90%;
  /* Flex */
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}
header {
  padding: 20px;
  width: 100%;
  /* Flex */
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header .container__image {
  font-size: 30px;
}
header .container__image img {
  border-radius: 50%;
  vertical-align: top;
}
header .container__image a {
  color: var(--color-white);
  text-decoration: none;
  vertical-align: top;
  line-height: 100px;
}
header nav {
  width: 50%;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header nav a {
  background: #c0392b;
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  /* Flex */
  flex-grow: 1;
}
header nav a:hover {
  background: #e74c3c;
}
.main {
  background: #fff;
  padding: 20px;
  flex: 1 1 70%;
  /* flex: 1; */
}
.main article {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.main article:nth-last-child(1) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
aside {
  background: #e67e22;
  padding: 20px;
  /* Flex */
  display: flex;
  flex: 1 1 30%;
  /* flex: 0 0 300px; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
aside .widget {
  background: #d35400;
  height: 200px;
  margin: 10px;
}
footer {
  padding: 20px;
  width: 100%;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .links {
  background: #c0392b;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
}
footer .links a {
  flex-grow: 1;
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
footer .links a:hover {
  background: #e74c3c;
}
footer .social {
  background: #e67e22;
}
footer .social a {
  color: var(--color-white);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width:800px) {
  .container {
    flex-direction: column;
  }
  header {
    flex-direction: column;
    padding: 0;
  }
  header .container__image {
    padding: 20px 0;
  }
  header nav {
    width: 100%;
  }
  aside {
    flex-direction: row;
    float: 0;
  }
  aside .widget {
    flex-grow: 1;
  }
}

@media screen and (max-width:600px){
  aside {
    flex-direction: column;
  }
  footer {
    justify-content: space-around;
  }
}